<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="@CasselsGraeme">
	
	<meta property="og:url" content="{{ site.production-url }}{{ page.url }}" /> 
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{ page.excerpt | strip_html }}" /> 
	<meta property="og:image" content="{{ site.production-url }}{{ page.thumb.url }}" /> 

	<link href="{{ site.production-url }}{{ page.url }}" rel="canonical">
	
    <title>Graeme Cassels</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>