<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign desc = site.data.authors[0].desc | strip_html %}
	{% if page.desc %}
		{% assign desc = page.desc | strip_html %}
	{% endif %}
    <meta name="description" content="{{ desc }}">
    <meta name="author" content="@CasselsGraeme">
	
	<meta property="fb:app_id" content="682741705180900"/>
	
	{% assign img = '/imgs/gcassels.jpg' %}
	{% if page.thumb.url %}
		{% assign img = page.thumb.url %}
	{% endif %}
	
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{ page.excerpt | strip_html }}" /> 
	<meta property="og:image" content="{{ site.production-url }}{{ img }}" /> 
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@CasselsGraeme">
	<meta name="twitter:creator" content="@CasselsGraeme">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
	<meta name="twitter:image:src" content="{{ site.production-url }}{{ img }}">
	
	<link rel="icon" type="image/png" href="{{ site.production-url }}/imgs/faviconSM.png">
	
	{% assign delimiter = '' %}
	{% if page.title %}
		{% assign delimiter = ' - ' %}
	{% endif %}
    <title>{{ page.title }}{{ delimiter }}Graeme Cassels</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>