<ul class="social-ul list-inline list-unstyled">
	<li><a href="https://twitter.com/intent/user?screen_name=CasselsGraeme" class="social-twitter" title="Facebook">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span></a>
	</li>
	<li><a href="https://uk.linkedin.com/in/graemecassels" target="_blank" class="social-linkedin" title="LinkedIn">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span></a>
	</li>
	<!--<li class="st-multi-color st-shape-circle social-imdb ">
		<a title="IMDb" class="st-icon-imdb st-icon-circle" href=""><span></span>IMDb</a>
	</li>-->
	<li><a href="https://www.youtube.com/c/GraemeCassels" target="_blank" class="social-youtube" title="Youtube">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		</span></a>
	</li>
	<!--<li><a href="https://www.youtube.com/c/GraemeCassels" target="_blank" class="social-vimeo" title="Vimeo">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-vimeo-square fa-stack-1x fa-inverse"></i>
		</span></a>
	</li>-->
</ul>