<ul class="social-ul list-inline list-unstyled">
	<li>Share:</li>
	<li style="display:none"><a href="mailto:?body={{ site.baseurl }}{{ page.url }}" class="social-email">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</span></a>
	</li>
	<li><a data-href="https://www.facebook.com/sharer/sharer.php" class="social social-facebook">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			<span class="fa-stack fa-sm social-counter">-</span>
		</span></a>
	</li>
	<li><a data-href="https://twitter.com/intent/tweet" class="social social-twitter">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			<span class="fa-stack fa-sm social-counter">-</span>
		</span></a>
	</li>
	<li><a data-href="http://www.linkedin.com/shareArticle" class="social social-linkedin">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
			<span class="fa-stack fa-sm social-counter">-</span>
		</span></a>
	</li>
	<li style="display:none;"><a data-href="#" class="social social-pinterest">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
			<span class="fa-stack fa-sm social-counter">-</span>
		</span></a>
	</li>
	<li><a data-href="https://plus.google.com/share" class="social social-google-plus">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
			<span class="fa-stack fa-sm social-counter">-</span>
		</span></a>
	</li>
</ul>